<div *ngIf="! clientes.length; else falso">No hay clientes por el momento</div>
<ng-template #falso>
    <div>
        <h2>Listado Clientes</h2>
        <table class="table table-hover">
            <thead class="table-primary">
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Grupo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <th scope="row">{{ cliente.id + 1 }}</th>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.correo }}</td>
                    <td>{{ cliente.tel }}</td>
                    <td>{{ grupo[cliente.grupo].nombre }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>