<div>
    <div class="row">
        <div class="col-md-7">
            <div>
                <form onsubmit="event.preventDefault()" class="box">
                    <h1>Inicio de Sesion</h1>
                    <p class="text-muted"> Por favor ingresa tu usuario y clave!</p>
                    <input type="text" name="" placeholder="Usuario"> 
                    <input type="password" name="" placeholder="Clave"> 
                    <a class="forgot text-muted" href="#">olvide mi clave?</a> 
                    <input type="submit" name="" value="Iniciar" href="#">
                    <div class="col-md-12">
                        <ul class="social-network social-circle">
                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" class="icoGoogle" title="Google +"><i class="fab fa-google-plus"></i></a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>